// Couleurs de base
$primary-color: #9097e1; // Couleur primaire
$primary-lighter : #c0c7f1;
$primary-darker : #636ab8;
$dark-color: #333; // Couleur sombre
$secondary-color: #62ebca; // Couleur secondaire
$secondary-lighter : #91f7e1;
$secondary-darker : #3ec7a7;
$neutral-color: #f8f9fa; // Gris neutre

// Couleurs d'état
$danger-color: #dc3545; // Rouge danger
$warning-color: #ffc107; // Jaune warning
$success-color: #28a745; // Vert succès


// shadow
$shadow: rgba(0, 0, 0, 0.821) 0px 5px 15px;


// radius
$radius: 5px;