@import '../../SASS/reset';
@import '../../SASS/variables';
@import '../../SASS/utils';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
  padding: 0 2rem;
  background-color: $primary-darker;
  color: $neutral-color;
}

nav {
  display: flex;
  margin-top: 1rem;

  a {
    margin: 0 2rem;
    color: $neutral-color;
    text-decoration: none;
    &:hover {
      color: $secondary-color;
    }
  }
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: $neutral-color;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  &:hover {
    color: $secondary-color;
  }
}

/* responsive */
@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: $primary-color;
    transition: 1s;
    transform: translateY(-100vh);
    margin-top: 0rem;

    z-index: 99999;
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
}

.btn-logout {
  padding: 0 1rem;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
